
p{
    font-family: sans-serif;
    color: dimgray;
    font-size: 28px;
}

h1{
    font-style: bold;
    font-size: 100px;
    font-family: sans-serif;
}

li{
    font-size: 28px;
}

a{
font-size: 28px;
}